### **Exercise 1: Arithmetic Operations**

Take two numbers as input and calculate their sum, difference, product, quotient, and remainder using arithmetic operators.

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

sum_result = num1 + num2
difference_result = num1 - num2
product_result = num1 * num2
quotient_result = num1 / num2
remainder_result = num1 % num2

print(f"Sum: {sum_result}")
print(f"Difference: {difference_result}")
print(f"Product: {product_result}")
print(f"Quotient: {quotient_result}")
print(f"Remainder: {remainder_result}")

Enter the first number: 10
Enter the second number: 20
Sum: 30.0
Difference: -10.0
Product: 200.0
Quotient: 0.5
Remainder: 10.0

### **Exercise 2: Comparison Operators**

Take two numbers as input and determine whether they are equal, not equal, greater than, and less than each other using comparison operators.

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

equal = num1 == num2
not_equal = num1 != num2
greater_than = num1 > num2
less_than = num1 < num2

print(f"{num1} is equal to {num2}: {equal}")
print(f"{num1} is not equal to {num2}: {not_equal}")
print(f"{num1} is greater than {num2}: {greater_than}")
print(f"{num1} is less than {num2}: {less_than}")

Enter the first number: 10
Enter the second number: 20
10.0 is equal to 20.0: False
10.0 is not equal to 20.0: True
10.0 is greater than 20.0: False
10.0 is less than 20.0: True

### **Exercise 3: Logical Operators**

Take two boolean values as input and print the result of their AND, OR, and NOT operations using logical operators.

In [ ]:
bool1 = bool(input("Enter the first boolean value (True or False): "))
bool2 = bool(input("Enter the second boolean value (True or False): "))

and_result = bool1 and bool2
or_result = bool1 or bool2
not_result1 = not bool1
not_result2 = not bool2

print(f"AND result: {and_result}")
print(f"OR result: {or_result}")
print(f"NOT result for {bool1}: {not_result1}")
print(f"NOT result for {bool2}: {not_result2}")

Enter the first boolean value (True or False): true
Enter the second boolean value (True or False): false
AND result: True
OR result: True
NOT result for True: False
NOT result for True: False

### **Exercise 4: Bitwise Operations**

Take two integer numbers as input and perform bitwise AND, OR, XOR, and NOT operations on them.

In [ ]:
num1 = int(input("Enter the first integer number: "))
num2 = int(input("Enter the second integer number: "))

bitwise_and_result = num1 & num2
bitwise_or_result = num1 | num2
bitwise_xor_result = num1 ^ num2
bitwise_not_result1 = ~num1
bitwise_not_result2 = ~num2

print(f"Bitwise AND result: {bitwise_and_result}")
print(f"Bitwise OR result: {bitwise_or_result}")
print(f"Bitwise XOR result: {bitwise_xor_result}")
print(f"Bitwise NOT result for {num1}: {bitwise_not_result1}")
print(f"Bitwise NOT result for {num2}: {bitwise_not_result2}")

Enter the first integer number: 10
Enter the second integer number: 20
Bitwise AND result: 0
Bitwise OR result: 30
Bitwise XOR result: 30
Bitwise NOT result for 10: -11
Bitwise NOT result for 20: -21

### **Exercise 5: Precedence of Operators**

Take three numbers as input and create an expression using addition, subtraction, multiplication, and division. Print the result considering operator precedence

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

result = num1 + num2 - num3 * num1 / num2

print("Result:", result)

Enter the first number: 10
Enter the second number: 20
Enter the third number: 30
Result: 15.0

### **Exercise 6: Mixed Operators**

Take two numbers as input and calculate the result of the expression `(a + b) * (a - b) / (a ** b)` using arithmetic operators.

In [ ]:
a = float(input("Enter the value of 'a': "))
b = float(input("Enter the value of 'b': "))

result = (a + b) * (a - b) / (a ** b)

print("Result:", result)

Enter the value of 'a': 2
Enter the value of 'b': 1
Result: 1.5

### **Exercise 7: Complex Comparison**

Take three numbers as input and determine if the first number is strictly between the second and third numbers (exclusive), using comparison operators.

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

is_between = num2 < num1 < num3

print(f"{num1} is strictly between {num2} and {num3}.")

Enter the first number: 2
Enter the second number: 1
Enter the third number: 3
2.0 is strictly between 1.0 and 3.0.

In [ ]:
# Taking user input for three numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Checking if the first number is strictly between the second and third numbers (exclusive)
is_between = num2 < num1 < num3

# Displaying the result
if is_between:
    print(f"{num1} is strictly between {num2} and {num3}.")
else:
    print(f"{num1} is not strictly between {num2} and {num3}.")

Enter the first number: 10
Enter the second number: 1
Enter the third number: 3
10.0 is not strictly between 1.0 and 3.0.

### **Exercise 8: Convert Seconds**

Take the number of seconds as input and convert it into hours, minutes, and remaining seconds using arithmetic operators.

In [4]:
total_seconds = int(input("Enter the number of seconds: "))

hours = total_seconds // 3600
remaining_seconds = total_seconds % 3600
minutes = remaining_seconds // 60
seconds = remaining_seconds % 60

print(f"{total_seconds} seconds is equal to {hours} hours, {minutes} minutes, and {seconds} seconds.")

Enter the number of seconds: 140
140 seconds is equal to 0 hours, 2 minutes, and 20 seconds.

### **Exercise 9: Swap Variables**

Take two numbers as input and swap their values without using a temporary variable, using arithmetic operators.

In [5]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2

print(f"After swapping, num1 is: {num1}")
print(f"After swapping, num2 is: {num2}")

Enter the first number: 2
Enter the second number: 3
After swapping, num1 is: 3.0
After swapping, num2 is: 2.0

### **Exercise 10: Investment Growth**

Take the principal amount, interest rate, and number of years as input. Calculate the final amount using the formula `A = P * (1 + r/n) ** (nt)`, where `n` is the number of times interest is compounded per year and `t` is the number of years.

In [6]:
principal_amount = float(input("Enter the principal amount: "))
interest_rate = float(input("Enter the annual interest rate (as a decimal): "))
number_of_years = float(input("Enter the number of years: "))
compounding_frequency = int(input("Enter the compounding frequency per year: "))

n = compounding_frequency
t = number_of_years
r = interest_rate / n
final_amount = principal_amount * (1 + r/n) ** (n * t)

print(f"The final amount after {number_of_years} years is: {final_amount:.2f}")

Enter the principal amount: 10
Enter the annual interest rate (as a decimal): 2.5
Enter the number of years: 5
Enter the compounding frequency per year: 12
The final amount after 5.0 years is: 28.09

### **Exercise 11: Temperature Converter**

Take the temperature in Celsius as input and convert it to Kelvin and Fahrenheit using appropriate operators.

In [8]:
temperature_celsius = float(input("Enter the temperature in Celsius: "))

temperature_kelvin = temperature_celsius + 273.15
temperature_fahrenheit = (temperature_celsius * 9/5) + 32

print(f"Temperature in Kelvin: {temperature_kelvin:.2f} K")
print(f"Temperature in Fahrenheit: {temperature_fahrenheit:.2f} Â°F")

Enter the temperature in Celsius: 32
Temperature in Kelvin: 305.15 K
Temperature in Fahrenheit: 89.60 Â°F

### **Exercise 12: Speed Calculator**

Take the distance (in kilometers) and time (in hours) as input. Calculate the speed in kilometers per hour using arithmetic operators.

In [12]:
distance = float(input("Enter the distance in kilometers: "))
time = float(input("Enter the time in hours: "))

speed = distance / time

print(f"The speed is: {speed:.2f} kilometers per hour")

Enter the distance in kilometers: 90
Enter the time in hours: 1.5
The speed is: 60.00 kilometers per hour

### **Exercise 13: Triangle Area Calculator**

Take the base and height of a triangle as input. Calculate and print its area using arithmetic operators.

In [13]:
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

area = 0.5 * base * height

print(f"The area of the triangle is: {area:.2f} square units")

Enter the base of the triangle: 5
Enter the height of the triangle: 6
The area of the triangle is: 15.00 square units

### **Exercise 14: Volume of a Sphere**

 Take the radius of a sphere as input. Calculate and print its volume using arithmetic operators.

In [15]:
radius = float(input("Enter the radius of the sphere: "))

volume = (4/3) * math.pi * (radius ** 3)

print(f"The volume of the sphere is: {volume:.2f} cubic units")

Enter the radius of the sphere: 5
The volume of the sphere is: 523.60 cubic units

### **Exercise 15: Time Conversion**

Take a time duration in seconds as input. Convert and print it in the format of hours, minutes, and seconds using arithmetic operators.

In [16]:
total_seconds = int(input("Enter the time duration in seconds: "))

hours = total_seconds // 3600
remaining_seconds = total_seconds % 3600
minutes = remaining_seconds // 60
seconds = remaining_seconds % 60

print(f"{total_seconds} seconds is equal to {hours} hours, {minutes} minutes, and {seconds} seconds.")

Enter the time duration in seconds: 90
90 seconds is equal to 0 hours, 1 minutes, and 30 seconds.